[package]
name = "migration"
version = "0.1.0"
edition = "2024"

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
async-trait = "0.1"
sea-orm-migration = { version = "2.0.0-rc.27", features = [
  "runtime-tokio-rustls",
  "sqlx-postgres",
] }
